body{
  background: url('./img/bg.png');
  background-size: cover;
  background-position: center top;
}

h1 {
  color: #ffffff;
  text-align: center;
}
.main {
  width: 800px;
  height: 500px;
  background: rgba(105, 154, 233, 0.5);
  border: 1px solid #ffffff;
  border-radius: 25px;
  margin: 50px auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* overflow-y: hidden; */
position: relative;
box-sizing: border-box;
padding: 50px;
}
.box {
  width: 500px;
  height: 200px;
  background: #000;
  position: absolute;
  top: 100px;
  left: 100px;
  /* right: ;
  bottom: ; */
}

table{
  border: 1px solid black;
  width: 100%;
  margin: 50px auto;
}
td {
  padding: 5px 10px ;
}

.t-one {
  background-color: rgb(131, 95, 160);
}

#t-two {background: coral;}

#t-one tr:nth-child(even) {
  background-color: rgb(206, 161, 243);
}

/* 
name
class
id

*/
